[Unit]
Description=Mount gocryptfs encrypted media directory
After=local-fs.target
Before=docker.service
Wants=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/gocryptfs/gocryptfs.env
ExecStartPre=/bin/test -d ${GOCRYPTFS_ENCRYPTED_DIR}
ExecStartPre=/bin/test -f ${GOCRYPTFS_PASSFILE}
ExecStartPre=/bin/mkdir -p ${GOCRYPTFS_MOUNT_POINT}
ExecStart=/usr/bin/gocryptfs -allow_other -passfile ${GOCRYPTFS_PASSFILE} ${GOCRYPTFS_ENCRYPTED_DIR} ${GOCRYPTFS_MOUNT_POINT}
ExecStop=/bin/fusermount -u ${GOCRYPTFS_MOUNT_POINT}
User=root
Group=root

[Install]
WantedBy=multi-user.target
